{
  "openapi": "3.1.0",
  "info": {
    "title": "PrintPreflight API",
    "version": "1.0.0",
    "description": "Automated print-ready PDF preflight checking. Submit artwork, get detailed checks for trim/bleed compliance, DPI, colour space, fonts, and more."
  },
  "servers": [
    {
      "url": "https://api.preflight-api.com",
      "description": "Production"
    }
  ],
  "security": [
    { "ApiKeyAuth": [] }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    },
    "schemas": {
      "TrimSize": {
        "type": "object",
        "required": ["width", "height"],
        "properties": {
          "width": { "type": "number", "example": 210 },
          "height": { "type": "number", "example": 297 }
        }
      },
      "BleedSpec": {
        "type": "object",
        "properties": {
          "left": { "type": "number", "example": 3 },
          "right": { "type": "number", "example": 3 },
          "top": { "type": "number", "example": 3 },
          "bottom": { "type": "number", "example": 3 }
        }
      },
      "SafeZoneSpec": {
        "type": "object",
        "properties": {
          "left": { "type": "number", "example": 5 },
          "right": { "type": "number", "example": 5 },
          "top": { "type": "number", "example": 5 },
          "bottom": { "type": "number", "example": 5 }
        }
      },
      "PageSpec": {
        "type": "object",
        "required": ["type", "range", "trim"],
        "properties": {
          "type": { "type": "string", "enum": ["combined", "front", "back"], "example": "combined" },
          "range": { "type": "string", "example": "1-4" },
          "trim": { "$ref": "#/components/schemas/TrimSize" },
          "bleed": { "$ref": "#/components/schemas/BleedSpec" },
          "safe_zone": { "$ref": "#/components/schemas/SafeZoneSpec" }
        }
      },
      "SubmitJobRequest": {
        "type": "object",
        "required": ["artwork", "spec"],
        "properties": {
          "job_id": { "type": "string", "description": "Optional external job ID for tracking" },
          "artwork": {
            "type": "object",
            "required": ["url", "filename"],
            "properties": {
              "url": { "type": "string", "format": "uri", "example": "https://example.com/artwork.pdf" },
              "filename": { "type": "string", "example": "business-card.pdf" }
            }
          },
          "webhook": {
            "type": "object",
            "properties": {
              "url": { "type": "string", "format": "uri", "example": "https://yourapp.com/webhook" },
              "secret": { "type": "string", "description": "HMAC secret for verifying webhook signatures" }
            }
          },
          "proof": {
            "type": "object",
            "properties": {
              "generate": { "type": "boolean", "default": true },
              "expires_hours": { "type": "integer", "default": 72 },
              "base_url": { "type": "string", "description": "Custom base URL for proof viewer links" }
            }
          },
          "spec": {
            "type": "object",
            "required": ["units", "pages"],
            "properties": {
              "units": { "type": "string", "enum": ["mm", "in"], "default": "mm" },
              "pages": { "type": "array", "items": { "$ref": "#/components/schemas/PageSpec" } },
              "page_count": {
                "type": "object",
                "properties": {
                  "min": { "type": "integer", "example": 1 },
                  "max": { "type": "integer", "example": 100 },
                  "must_be_even": { "type": "boolean", "default": false }
                }
              },
              "min_dpi": { "type": "integer", "default": 300 },
              "colour_space": { "type": "string", "enum": ["any", "CMYK", "RGB"], "default": "any" },
              "font_check": { "type": "boolean", "default": true },
              "dimension_tolerance_mm": { "type": "number", "default": 0.5 }
            }
          }
        }
      },
      "JobCheck": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "example": "Trim Size" },
          "status": { "type": "string", "enum": ["pass", "fail", "warn"], "example": "pass" },
          "details": { "type": "string", "example": "210 x 297 mm — matches spec" }
        }
      },
      "JobResponse": {
        "type": "object",
        "properties": {
          "job_id": { "type": "string" },
          "status": { "type": "string", "enum": ["queued", "processing", "completed", "failed"] },
          "result": { "type": "string", "enum": ["pass", "fail", "error"] },
          "filename": { "type": "string" },
          "submitted_at": { "type": "string", "format": "date-time" },
          "completed_at": { "type": "string", "format": "date-time" },
          "processing_time": { "type": "string", "example": "1.2s" },
          "checks": { "type": "array", "items": { "$ref": "#/components/schemas/JobCheck" } },
          "proof_url": { "type": "string", "format": "uri" }
        }
      },
      "WebhookPayload": {
        "type": "object",
        "properties": {
          "event": { "type": "string", "enum": ["job.completed", "job.failed"] },
          "job_id": { "type": "string" },
          "status": { "type": "string" },
          "result": { "type": "string" },
          "checks": { "type": "array", "items": { "$ref": "#/components/schemas/JobCheck" } },
          "proof_url": { "type": "string" },
          "timestamp": { "type": "string", "format": "date-time" }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": { "type": "string" },
          "detail": { "type": "string" }
        }
      }
    }
  },
  "paths": {
    "/v1/jobs": {
      "post": {
        "summary": "Submit a preflight job",
        "operationId": "submitJob",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SubmitJobRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "job_id": { "type": "string" },
                    "status": { "type": "string", "example": "queued" },
                    "created_at": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          },
          "400": { "description": "Invalid request", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "description": "Missing or invalid API key", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "429": { "description": "Rate limit exceeded", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      },
      "get": {
        "summary": "List jobs",
        "operationId": "listJobs",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 20 } },
          { "name": "status", "in": "query", "schema": { "type": "string", "enum": ["queued", "processing", "completed", "failed"] } },
          { "name": "search", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Job list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jobs": { "type": "array", "items": { "$ref": "#/components/schemas/JobResponse" } },
                    "total": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/jobs/{job_id}": {
      "get": {
        "summary": "Get job details",
        "operationId": "getJob",
        "parameters": [
          { "name": "job_id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Job details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/JobResponse" }
              }
            }
          },
          "404": { "description": "Job not found", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    }
  }
}
